* {
    box-sizing: border-box;
  }
  
  body.login-register-body {
    background: -webkit-linear-gradient(to top left, #fca3b7, #fcbfcb, #fcdde3);
    background: linear-gradient(to top left, #fca3b7, #fcbfcb, #fcdde3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playfair Display", "Lato", sans-serif;
    height: 100vh;
    color: #242626;
  }
  
  .error-input {
    border: 1px solid red;
  }
  
  .error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }