.gradient-container {
  background: #242626

}

.font-secondary li a {
    color: #242626; 
    transition: color 0.3s ease; 
  }
  
  .font-secondary li a:hover {
    color: #E02189;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .footer-image-container {
      display: none;
    }
  }